$myColor: red

body 
  background-color: grey
  margin: 25px
  
h1  
  color: $myColor

.App
  width: 500px

.timeline 
  background-color: blueviolet
  height: 50px
  position: relative

.progress-bar-content
    background-color: red
    height: 100%
    position: relative

.resizer 
  width: 10px
  height: 100%
  position: absolute
  cursor: e-resize


.constrols 
  white-space: nowrap


.constrols div 
  display: inline-block
  margin: 0 10px


.resizer:nth-child(1) 
  right: 0


.resizer:nth-child(2) 
  left: 0


.background-timeline 
  background-color: bisque


.icon 
  color: white
  font-size: 25px

.progress-bar
  height: 15px
  background-color: white
  margin: 5px 0

