$myColor: red

body 
  background-color: grey
  
h1  
  color: $myColor

.timeline 
  background-color: blueviolet
  height: 50px
  position: relative

.timer
    width: 10px
    background-color: black
    height: 10px
    position: relative
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    border-radius: 50%

.resizer 
  width: 10px
  height: 100%
  background-color: red
  position: absolute
  cursor: e-resize


.constrols 
  white-space: nowrap


.constrols div 
  display: inline-block
  margin: 0 10px


.resizer:nth-child(1) 
  right: 0


.resizer:nth-child(2) 
  left: 0


.background-timeline 
  background-color: bisque


.icon 
  color: white
  font-size: 25px

.band
  height: 15px
  background-color: white
  margin: 5px 0

